.mat-toolbar{
  margin: -24px;
  width: auto;
  margin-bottom: 10px;
  // background:  #228B22;
  background:  #F16341;
  }


  .mat-raised-button
  {
    background-color:  #F16341;
  }

.title-center{
    flex : 1 1 auto;
    text-align: center;
}

mat-form-field{
    padding: 5px ;
}

