<!-- <div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Cafe Management System
    </a>
    <ul>
      <li><a (click)="loginAction()">Login</a></li>
      <li><a (click)="signupAction()">Signup</a></li>
      <li><a (click)="forgotPasswordAction()">Forgot Password?</a></li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>Made by Asmit Gargelwar🙌</h2>
</div> -->


<body>
  <div class="wrapper">
    <!-- Your main content like header, navbar, and best-seller component -->
    <div class="header">
<span>
  <mat-icon>storefront</mat-icon>Cafe Ordering System</span>

  </div>

    
<div class="heading-container">
  <h1 class="main-heading">
    <a href="/cafe/userdashboard" class="heading-link">Welcome to Our Cafe!</a>
  </h1>
</div>


    <!-- <app-best-seller></app-best-seller> -->
  </div>

  <!-- Footer -->
  <div class="footer" id="signup">
    <h2>Made by Asmit Gargelwar</h2>
  </div>
</body>
