mat-card{
    padding: 20px;
}

// .mat-icon-button{
//     color:  #c23030;
//   }
.mat-icon-button{
  color:  #F16341;
}


table{
    width: 100%;
}



.heading mat-card
{
  background-color: #4C3935;
  // background: #fff;

}

.heading span
{
  // background-color: #4C3935;
  font-family: "Caveat", cursive;
  color: #F16341;
  font-weight: 700;
    font-size: 45px;
  // font-size : 20px ;
}



  .heading-2 mat-card
  {
    
    background-color:    #F7F1E9;
  }

  .category-section {
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    padding: 10px; 
    padding-bottom: 20px;
    background-color: #F7F1E9;
 
  }


  .category-section p
  {
    color: #4C3935;
    font-size: 15px;
    font-family:"Montserrat", sans-serif;
    font-weight: bold;
  
  
  }

  .done-row {
    background-color: #f0f0f0; 
    opacity: 0.7; 
}


.done-row p {
    color: #999; 
}
