
<!-- <body>
  <mat-card>
      <b><span>UserDashboard</span></b>
  </mat-card>
  <br>
  <div class="row">
      <div class="column">
          <div class="card">
              <div class="container">
                  <h2 class="title">Our Menu:</h2>
                  <p><button class="button" [routerLink]="['/cafe/get-product']">View Menu</button></p>
              </div>
          </div>
      </div>

     
       <div class="column">
          <div class="card">
              <div class="container">
                  <h2 class="title">Place Order:</h2>
                  
                  <p><button class="button" [routerLink]="['/cafe/order']">Order Now</button></p>
              </div>
          </div>
      </div>

  </div>
</body> -->


<!-- newwwwwwww -->


<div class="page-container">

  <div class="warning">
    <!-- <h2 class="color-brown-3">Please scan the QR code only on your table to place your order.</h2> -->
    <!-- <h2 class="color-brown-3">Important: Please Scan the QR Code On Your Table to Place Your Order.</h2> -->
    <!-- <h2 class="color-brown-3">Important: Please Scan the QR Code only from Your Table to Place Your Order To Make Sure Your Food Gets to Your Table.</h2> -->
    <!-- <h2 class="color-brown-3">Important: To Ensure Your Food Gets to Your Table,Please Scan the QR Code only from Your Table to Place Your Order. </h2>
    <h2 class="color-brown-3">Important: To Ensure Your Food Gets to Your Table,Please Scan The QR Code Only On Your Table To Place Your Order . </h2> -->
    <h2 class="color-brown-3">Important: To Ensure Your Food Gets to Your Table, Please Scan the QR Code Only at the Table Where You Are Seated to Place Your Order. </h2>


  </div>
  


<!-- Bootstrap Carousel -->
<div id="userDashboardCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#userDashboardCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#userDashboardCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#userDashboardCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/main.png" class="d-block w-100 rounded-carousel-image" alt="Slide 1">
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>Cold Coffee & Puff</h5>
        <p>Perfect match combos starting  249</p> -->
      </div>
    </div>


    <div class="carousel-item">
       <img src="assets/img/slider-21.png" class="d-block w-100 rounded-carousel-image" alt="Slide 4">
       <div class="carousel-caption d-none d-md-block">
       </div>
   </div>


    <div class="carousel-item">
       <img src="assets/img/BEST.png" class="d-block w-100 rounded-carousel-image" alt="Slide 3">
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>Frappe & Sandwich</h5>
        <p>Perfect match combos starting  249</p> -->
      </div>
    </div>
  

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#userDashboardCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#userDashboardCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<div class="mid-text">
  <h2 class="color-brown">shop with us</h2>
</div>






<br>
  
<div class="container">
        <div class="grid-container">
          <div class="left-container">
                  <h2 class="title">Our Menu:</h2>
                  <p><button class="button" [routerLink]="['/cafe/get-product']">View Menu</button></p>
              </div>
         

     
     
            <div class="right-container">
                  <h2 class="title">Place Order:</h2>
                  
                  <p><button class="button" [routerLink]="['/cafe/order']">Order Now</button></p>
              </div>
          </div>
    </div>





<div class="about-us-container">
  <div class="image-container">
    <img src="assets/img/Our-Story.jpeg" alt="About Us Image" />
  </div>
  <div class="text-container">
    <h2>Our Story</h2>
  
    <p>Founded in 2019 in the heart of Chandrapur, [] is a cozy retreat where the love for good food and coffee comes alive. We started with a simple dream: to create a welcoming space where the community could gather, relax, and enjoy great flavors.</p>
    <p>From our locally sourced ingredients to our freshly brewed coffee, everything we serve is crafted with care. Whether you're stopping by for a quick bite or a leisurely meal, you'll find a warm atmosphere and friendly service that make you feel right at home.</p>
    <p>Thank you for being a part of our journey. We look forward to creating more wonderful memories with you!</p>
    <!-- <button class="read-more-btn" [routerLink]="['/cafe/get-product']">View Menu</button>   -->
  </div>
</div>


<div class="mid-text-2">
  <h2 class="color-brown-2">Check our Instagram</h2>
</div>




<div class="about-us-container-2">
  <div class="image-container-2">
    <img src="assets/img/insta-1.png" alt="About Us Image" />
    <img src="assets/img/insta-4.png" alt="About Us Image" />
    <img src="assets/img/insta-9.jpg" alt="About Us Image" />
    <img src="assets/img/insta-2.png" alt="About Us Image" />

    <!-- <img src="assets/img/insta-6.jpg" alt="About Us Image" />
   <img src="assets/img/insta-10.jpg" alt="About Us Image" />
     -->
    

    
  </div>
  <div class="text-container">
      <p>
       Go to Instagram.
    </p>
  
  </div>
</div>





</div>




