.float-right{
    float: right;
} 


 .mat-icon-button{
    color:  #F16341;
    
  }

  :host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar .mat-slide-toggle-thumb{
    // background-color: #c23030 ;
    background-color:  #F16341;
}



mat-card{
    padding: 20px;
}

table{
    width: 100%;
}


.heading mat-card
{
  background-color: #4C3935;
  // background: #fff;

}

.heading span
{
  // background-color: #4C3935;
  font-family: "Caveat", cursive;
  color: #F16341;
  font-weight: 700;
    font-size: 45px;
  // font-size : 20px ;
}

.heading button
  {
    // background:  #F16341;
    // color: #F7F1E9;

    background-color:  #F16341;  
    color: #F7F1E9;
    font-weight: bold;
    font-family:"Montserrat", sans-serif;
  }


  .heading-2 mat-card
  {
    
    background-color:    #F7F1E9;
  }

  .category-section {
    margin-bottom: 20px; /* Adjust spacing between category sections */
    border: 1px solid #ccc; /* Example border style for the entire category section */
    padding: 10px; /* Adjust padding as needed */
    padding-bottom: 20px;
    background-color: #F7F1E9;
 
  }
  
  .category-section p
{
  color: #4C3935;
  font-size: 20px;
  font-family:"Montserrat", sans-serif;
  font-weight: bold;


}